$black: #000
$white: #FFF
$main-color: #ff5454
$light-grey: #F6F6F6

//**************************************************************************** Main
body
  margin: auto
  font-family: Montserrat
  max-width: 1440px

h1
  font-size: 40px
  color: $main-color
  font-weight: 500
  margin: 0px

main
  min-height: 650px

//**************************************************************************** Header
header
  padding: 25px 50px 25px 50px

section
  padding: 10px 50px 10px 50px

header
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

  a
    color: $black
    font-size: 24px
    font-weight: 500
    text-decoration: none
    padding: 20px

    &:hover
      text-decoration: underline
      cursor: pointer

  img
    height: 50px

//**************************************************************************** Banner
.banner
  width: 100%
  height: 223px
  background-color: $black
  border-radius: 25px
  position: relative
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2)

  img
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 25px
    position: absolute

  .img_1
    z-index: 1

  .img_2
    z-index: 2

  p
    font-size: 48px
    position: absolute
    color: $white
    font-weight: 700
    width: 100%
    text-align: center
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    margin: 0
    z-index: 1000

.responsive_br
  display: none

//**************************************************************************** Card
.card_container
  width: 100%
  min-height: 50px
  background-color: $light-grey
  border-radius: 25px
  position: relative

.card_wrapper
  display: flex
  justify-content: center
  flex-wrap: wrap

.card
  width: 25%
  height: 340px
  margin: 30px
  padding: 0px
  background: linear-gradient($main-color, #722a3c)
  border-radius: 25px
  text-decoration: none

  img
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 25px
    z-index: 2

  p
    width: 80%
    position: relative
    bottom: 120px
    padding: 30px
    color: $white
    font-weight: bold
    z-index: 1

//**************************************************************************** Text Wrapper

.wrappers
  display: flex
  flex-direction: column
  width: 90%
  margin: auto

.desc
  span
    display: flex
    flex-direction: column

.text_wrapper
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  height: 50px
  margin: 20px 0px 0px 0px
  background-color: $main-color
  color: $white
  font-weight: 700
  border-radius: 5px

  .desc
    width: 100%
    margin-bottom: 20px

  p, img
    padding: 0px 20px 0px 20px

  img
    width: 30px
    cursor: pointer

  &.active img
    transform: rotate(180deg)

.desc
  min-height: 50px
  background-color: $light-grey
  padding: 10px
  display: none

  &.active
    display: block

//**************************************************************************** Offer

.offer_tags
  display: flex
  flex-direction: row
  justify-content: space-between

  p
    margin-top: 0px
    font-weight: 500

  .tags
    display: flex
    align-items: center
    width: 100%

    p
      margin: 5px 10px 0px 0px
      font-weight: bold
      background-color: $main-color
      padding: 3px 25px 3px 25px
      border-radius: 5px
      color: $white
      font-size: 12px

.wrapper_offer
  display: flex
  flex-direction: row
  gap: 80px

  .wrappers
    margin: initial

//**************************************************************************** Host

.host_rating
  display: flex
  flex-direction: column
  align-items: flex-end

  .host
    display: flex
    flex-direction: row
    align-items: center
    text-align: right
    color: $main-color
    margin: 0px 0px 20px 0px

    img
      height: 64px
      border-radius: 100px
      margin-left: 10px

    p
      margin: 0px

//**************************************************************************** Rating

.rating
  display: flex
  justify-content: right
  height: 20px
  width: 30px
  gap: 3px
  margin-left: 10px

//**************************************************************************** Slideshow

.slideshow
  display: flex
  position: relative
  height: 400px

  img
    position: absolute
    border-radius: 15px
    width: 100%
    height: 400px
    object-fit: cover

  .icons
    display: none
    justify-content: space-between
    align-items: center

    &.active
      display: flex

    p
      position: absolute
      bottom: 10px
      right: 50%
      color: $white
      font-weight: 500
      z-index: 2

      &.none
        display: none

  .iconL, .iconR
    height: 80px
    width: 50px
    z-index: 2
    cursor: pointer

  .iconL
    left: 20px
    top: 150px

    &.active
      display: inline-block

    &.none
      display: none

  .iconR
    right: 20px
    top: 150px

    &.active
      display: inline-block

    &.none
      display: none

//**************************************************************************** Footer

footer
  margin-top: 10px
  padding: 15px
  display: flex
  flex-direction: column
  align-items: center
  background-color: $black
  color: $white

  img
    padding: 30px
    height: 30px

  p
    margin-top: 30px

//**************************************************************************** Error
#error
  text-align: center

  h1
    font-size: 288px
    font-weight: 700
    color: $main-color
    margin: 0px

  p
    font-size: 36px
    color: $main-color

  div
    padding: 60px
    margin: 60px

    a
      color: $black
      font-weight: 500

//**************************************************************************** 
//**************************************************************************** Media Queries

@media screen and (max-width: 640px)

  header
    padding: 15px

    a
      font-size: 15px
      text-transform: uppercase
      padding: 0px 0px 0px 30px

  section
    padding: 15px

  .banner
    height: 120px
    border-radius: 10px

    img
      border-radius: 10px

    p
      font-size: 30px
      padding-left: 20px
      text-align: left

  .card
    width: 100%
    margin: 0px 0px 30px 0px

  .card_wrapper
    background-color: $white

  .offer_tags
    flex-direction: column

    .tags

      p
        margin: 0px
        margin-right: 10px

    h1
      font-weight: 500
      font-size: 20px

    p
      font-weight: 500

  .icons

    p
      display: none

    .iconR, .iconL
      height: 30px
      width: 20px
      top: 180px

  .text_wrapper
    height: 40px

  .wrapper_offer
    flex-direction: column
    padding: 0px 0px 15px 0px
    gap: 0px
    align-items: center

  .host_rating
    width: 100%
    flex-direction: row
    align-items: center
    justify-content: space-between
    margin-top: 20px

    .host
      margin: 0px
      order: 2

    .rating
      order: 1
      justify-content: left

  #error

    h1
      height: 200px
      padding-top: 25%
      font-size: 96px

    p
      font-size: 22px
      color: $main-color

    a
      font-size: 18px

    div
      padding: 20px

  footer
    height: 175px
    justify-content: center

    img
      padding: 0px

    p
      font-size: 15px
      text-align: center
      margin-top: 10px
      width: 35%

  .responsive_br
    display: inline
